/* style.css */

body {
    font-family: "Helvetica", sans-serif;
    background-color: white;
}

.recipe.card{
    background-color: white;
    width: 500px;
    margin: 16px auto;
    padding: 8px;
}

.recipe{
    background-color: antiquewhite;
}

.recipe.title{
    margin: 8px;
    padding: 8px;
}

.recipe.list{
    font-size: 20px;
    margin: 8px;
    padding: 8px;
    
}

.recipe li {
    margin-left: 50px;
}

.image {
    height: 200px;
    width: auto;
}

.ingredient.list{
    color:rgb(23, 0, 128);
}

.list {
    color: rgb(0, 114, 122);
}

.description{
    background-color: rgb(255, 199, 147);
}